___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>
# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [ ]:
100+0.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [20]:
4 * (6+5)

44

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

float

What would you use to find a numberâ€™s square root, as well as its square?

In [1]:
# Square root:
2 ** 2

4

In [2]:
# Square:
2 ** 2

4

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [3]:
s = 'hello'
# Print out 'e' using indexing

print(s)

hello

Reverse the string 'hello' using slicing:

In [4]:
s ='hello'
# Reverse the string using slicing

print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [6]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[-1:])

o

In [7]:
# Method 2:

print(s[-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [8]:
# Method 1:
way1= [0,0,0]

In [9]:
# Method 2:
way2 = []
way2.append(0)
way2.append(0)
way2.append(0)
print(way2)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [10]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = "goodbye"
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [11]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [12]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [13]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [16]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d['k1'][0]['nest_key'][1][0])

hello

In [19]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

print(d['k1'][2]['k2'][1]['tough'][2][0])

hello

Can you sort a dictionary? Why or why not?<br><br>

No, because is an unordered data structure

## Tuples

What is the major difference between tuples and lists?<br><br>

Mainly the difference is that tupples are not mutable

How do you create a tuple?<br><br>

like this: example = (1,2,3)

## Sets

What is unique about a set?<br><br>

its not repeatable, and only contains keys

Use a set to find the unique values of the list below:

In [21]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

print(set(list5))

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [27]:
# Answer before running cell
2 > 3
#false

False

In [26]:
# Answer before running cell
3 <= 2
#false

False

In [25]:
# Answer before running cell
3 == 2.0
#false

False

In [24]:
# Answer before running cell
3.0 == 3
#true

True

In [23]:
# Answer before running cell
4**0.5 != 2
#false

False

Final Question: What is the boolean output of the cell block below?

In [22]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
#false

False

## Great Job on your first assessment!